<mk-box header="Test History" [isCollapsable]="false" [isRemovable]="false" contentStyleClass="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Test Name</th>
          <th>Player</th>
          <th>Coach</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let in of [1,2,3,4,5,6,7,8,9,10]">
          <td><a [routerLink]="['/history',in,'view']">Test {{in}}</a></td>
          <td><a [routerLink]="['/history',in,'view']">Player {{in}}</a></td>
          <td><a [routerLink]="['/history',in,'view']">Coach {{in}}</a></td>
          <td><a [routerLink]="['/history',in,'view']">-</a></td>
        </tr>
      </tbody>
    </table>
  </mk-box>