.login-page {
    overflow: hidden;
    min-height: 100%;
  }

  /* .login-box, .register-box {
    width: auto !important;
    margin: 15% auto !important;
}

.login-box-body, .register-box-body {
  width: 360px !important;
    margin: auto !important;
} */