<form [formGroup]="testForm" (ngSubmit)="onSubmitForm()">
    <mk-box header="Test Information" [isCollapsable]="false" [isRemovable]="false" [isLoading]="isFormLoading">

        <!-- <div class="row"> -->
        <mk-input-group inputErrorColor="warning" class="col-md-6">
            <mk-input-group-label>Test Name</mk-input-group-label>
            <mk-input-group-addon-right><i
                    [ngClass]="testForm.get('test_name').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
            </mk-input-group-addon-right>
            <mk-input-group-content>
                <input mkInputText formControlName="test_name" class="toto form-control" />
            </mk-input-group-content>
        </mk-input-group>
        <mk-input-group inputErrorColor="warning" class="col-md-6">
            <mk-input-group-label>Player Name</mk-input-group-label>
            <mk-input-group-addon-right><i
                    [ngClass]="testForm.get('player_id').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
            </mk-input-group-addon-right>
            <mk-input-group-content>
                <input mkInputText formControlName="players_name" class="toto form-control" [matAutocomplete]="player"
                    placeholder="Search by firstname, lastname, username or email" autocomplete="off"/>

                <mat-autocomplete #player="matAutocomplete">
                    <mat-option *ngIf="isLoading" class="is-loading">
                        <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>
                    <mat-option *ngIf="!isLoading && filteredOptions.length==0" class="is-loading">ไม่พบนักกีฬา
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let user of filteredOptions" [value]="user.firstname"
                            (click)="selectPlayer(user.id)">
                            <span>{{ user.firstname }} {{user.lastname}}</span>
                            <small> | username: {{user.username}}</small>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mk-input-group-content>
        </mk-input-group>
        <mk-input-group inputErrorColor="warning" class="col-md-6">
            <mk-input-group-label>Test Style</mk-input-group-label>
            <mk-input-group-addon-right><i
                    [ngClass]="testForm.get('style').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
            </mk-input-group-addon-right>
            <mk-input-group-content>
                <select mkInputSelect formControlName="style" class="toto form-control">
                <option *ngFor="let style of styles" [value]="style.value">{{style.viewValue}}</option>
            </select>
            </mk-input-group-content>
        </mk-input-group>
        <!-- <mat-form-field class="col-md-6">
            <mat-label>Test Style</mat-label>
            <mat-select formControlName="style">
                <mat-option *ngFor="let style of styles" [value]="style.value">
                    {{style.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <!-- </div> -->
        <div class="col-md-12">
            <mk-tabs *ngIf="testForm.get('style')!='free'">
                <mk-tabs-header>Pattern</mk-tabs-header>
                <mk-tab>
                    <mk-tab-header><a (click)="tabPattern(false)">Find</a></mk-tab-header>
                    <mk-tab-content>
                        <div class="row">
                            <mk-input-group inputErrorColor="warning" class="col-md-6">
                                <mk-input-group-label>Find Pattern</mk-input-group-label>
                                <mk-input-group-addon-right><i
                                        [ngClass]="testForm.get('pattern_id').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                                </mk-input-group-addon-right>
                                <mk-input-group-content>
                                    <input mkInputText formControlName="pattern_name" class="toto form-control"
                                        [matAutocomplete]="pattern"
                                        placeholder="Search by pattern, pattern name, create date or creator" />
    
                                    <mat-autocomplete #pattern="matAutocomplete">
                                        <mat-option *ngIf="isLoading" class="is-loading">
                                            <mat-spinner diameter="50"></mat-spinner>
                                        </mat-option>
                                        <mat-option *ngIf="!isLoading && patternOptions.length==0" class="is-loading">
                                            ไม่พบแพทเทิร์น
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let pattern of patternOptions"
                                                [value]="pattern.pattern_name" (click)="selectPattern(pattern.id)">
                                                <span>{{ pattern.pattern_name }}</span>
                                                <small> | Pattern: {{pattern.pattern}}</small>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mk-input-group-content>
                            </mk-input-group>
    
                        </div>
                    </mk-tab-content>
                </mk-tab>
                <mk-tab>
                    <mk-tab-header><a (click)="tabPattern(true)">Create</a></mk-tab-header>
                    <mk-tab-content>
                        <div class="row">
                            <mk-input-group inputErrorColor="warning" class="col-md-6">
                                <mk-input-group-label>Pattern Name</mk-input-group-label>
                                <mk-input-group-addon-right><i
                                        [ngClass]="testForm.get('pattern_name').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                                </mk-input-group-addon-right>
                                <mk-input-group-content>
                                    <input mkInputText formControlName="pattern_name" class="toto form-control" />
                                </mk-input-group-content>
                            </mk-input-group>
    
                            <mk-input-group inputErrorColor="warning" class="col-md-6">
                                <mk-input-group-label>Pattern</mk-input-group-label>
                                <mk-input-group-addon-right><i
                                        [ngClass]="testForm.get('pattern').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                                </mk-input-group-addon-right>
                                <mk-input-group-content>
                                    <input mkInputText formControlName="pattern" class="toto form-control" />
                                </mk-input-group-content>
                            </mk-input-group>
    
                        </div>
                    </mk-tab-content>
                </mk-tab>
            </mk-tabs>
        </div>
        



        <div class="col-md-12">
            <button type="submit" [disabled]="testForm.invalid" class="btn btn-primary">Create</button>
        </div>
    </mk-box>
</form>