<form [formGroup]="testForm" (ngSubmit)="onSubmitForm()">
    <mk-box header="Test Information" [isCollapsable]="false" [isRemovable]="false" [isLoading]="isFormLoading">

        <!-- <div class="row"> -->
        <mk-input-group inputErrorColor="warning" class="col-md-6">
            <mk-input-group-label>Test Name</mk-input-group-label>
            <mk-input-group-addon-right><i
                    [ngClass]="testForm.get('test_name').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
            </mk-input-group-addon-right>
            <mk-input-group-content>
                <input mkInputText formControlName="test_name" class="toto form-control" />
            </mk-input-group-content>
        </mk-input-group>
        <mk-input-group inputErrorColor="warning" class="col-md-6">
            <mk-input-group-label>Player Name</mk-input-group-label>
            <mk-input-group-addon-right><i
                    [ngClass]="testForm.get('player_id').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
            </mk-input-group-addon-right>
            <mk-input-group-content>
                <input mkInputText formControlName="players_name" class="toto form-control" [matAutocomplete]="player"
                    placeholder="Search by firstname, lastname, username or email" autocomplete="off" />

                <mat-autocomplete #player="matAutocomplete">
                    <mat-option *ngIf="isLoading" class="is-loading">
                        <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>
                    <mat-option *ngIf="!isLoading && filteredOptions.length==0" class="is-loading">ไม่พบนักกีฬา
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let user of filteredOptions" [value]="user.firstname"
                            (click)="selectPlayer(user.id)">
                            <span>{{ user.firstname }} {{user.lastname}}</span>
                            <small> | username: {{user.username}}</small>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mk-input-group-content>
        </mk-input-group>
        <mk-input-group inputErrorColor="warning" class="col-md-6">
            <mk-input-group-label [ngClass]="testForm.get('style').invalid ? '' : 'has-success-text'">Test Style
            </mk-input-group-label>
            <mk-input-group-addon-right [ngClass]="testForm.get('style').invalid ? '' : 'has-success'"><i
                    [ngClass]="testForm.get('style').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
            </mk-input-group-addon-right>
            <mk-input-group-content>
                <select mkInputText formControlName="style" class="toto form-control"
                    [ngClass]="testForm.get('style').invalid ? '' : 'has-success'"
                    (change)="styleChange(testForm.get('style').value)">
                    <option *ngFor="let style of styles" [value]="style.value" class="big-font">{{style.viewValue}}
                    </option>
                </select>
            </mk-input-group-content>
        </mk-input-group>
        <!-- <mat-form-field class="col-md-6">
            <label>
                <mk-input-group-label [ngClass]="testForm.get('style').invalid ? '' : 'has-success-text'">Test Style
                </mk-input-group-label>
            </label>
            <mat-select formControlName="style" class="toto form-control table-cell"
                [ngClass]="testForm.get('style').invalid ? '' : 'has-success'">
                <mat-option *ngFor="let style of styles" [value]="style.value">
                    {{style.viewValue}}
                </mat-option>
            </mat-select>
            <span class="input-group-addon">
                <mk-input-group-addon-right [ngClass]="testForm.get('style').invalid ? '' : 'has-success'"><i
                    [ngClass]="testForm.get('style').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                </mk-input-group-addon-right>
            </span>
        </mat-form-field> -->
        <!-- </div> -->
        <div class="col-md-12">
            <mk-tabs *ngIf="testForm.get('style').value != 2 && testForm.get('style').value != null">
                <mk-tabs-header>Pattern</mk-tabs-header>
                <mk-tab>
                    <mk-tab-header><a class="tab" (click)="tabPattern(false)">Find</a></mk-tab-header>
                    <mk-tab-content>
                        <div class="row">
                            <mk-input-group inputErrorColor="warning" class="col-md-6">
                                <mk-input-group-label>Find Pattern</mk-input-group-label>
                                <mk-input-group-addon-right><i
                                        [ngClass]="testForm.get('pattern_id').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                                </mk-input-group-addon-right>
                                <mk-input-group-content>
                                    <input mkInputText formControlName="pattern_name" class="toto form-control"
                                        [matAutocomplete]="pattern"
                                        placeholder="Search by pattern, pattern name, create date or creator" />

                                    <mat-autocomplete #pattern="matAutocomplete">
                                        <mat-option *ngIf="isLoading" class="is-loading">
                                            <mat-spinner diameter="50"></mat-spinner>
                                        </mat-option>
                                        <mat-option *ngIf="!isLoading && patternOptions.length==0" class="is-loading">
                                            ไม่พบแพทเทิร์น
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let pattern of patternOptions"
                                                [value]="pattern.pattern_name" (click)="selectPattern(pattern.id)">
                                                <span>{{ pattern.pattern_name }}</span>
                                                <small> | Pattern: {{pattern.pattern}}</small>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mk-input-group-content>
                            </mk-input-group>

                        </div>
                    </mk-tab-content>
                </mk-tab>
                <mk-tab>
                    <mk-tab-header><a class="tab" (click)="tabPattern(true)">Create</a></mk-tab-header>
                    <mk-tab-content>
                        <div class="row">
                            <mk-input-group inputErrorColor="warning" class="col-md-6 no-padding-left">
                                <mk-input-group-label>Pattern Name</mk-input-group-label>
                                <mk-input-group-addon-right><i
                                        [ngClass]="testForm.get('pattern_name').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                                </mk-input-group-addon-right>
                                <mk-input-group-content>
                                    <input mkInputText formControlName="pattern_name" class="toto form-control" />
                                </mk-input-group-content>
                            </mk-input-group>

                            <mk-input-group inputErrorColor="warning" class="col-md-6 no-padding-right">
                                <mk-input-group-label>Pattern</mk-input-group-label>
                                <mk-input-group-addon-right><i
                                        [ngClass]="testForm.get('pattern').invalid ? 'fa fa-times' : 'fa fa-check'"></i>
                                </mk-input-group-addon-right>
                                <mk-input-group-content>
                                    <input mkInputText formControlName="pattern" class="toto form-control" />
                                </mk-input-group-content>
                            </mk-input-group>
                            <div class="col-md-6 no-padding-left">
                                <mk-box header="Click plate to create pattern" [isCollapsable]="false"
                                    [isRemovable]="false">
                                    <div class="row text-center" style="padding-bottom: 15px;">
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('1')">1</button>
                                        </div>
                                        <div class="col-xs-4">
                                            <!-- <button>2</button> -->
                                        </div>
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('2')">2</button>
                                        </div>
                                    </div>
                                    <div class="row text-center" style="padding-bottom: 15px;">
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('3')">3</button>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('4')">4</button>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('5')">5</button>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('6')">6</button>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('7')">7</button>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type=button mat-stroked-button (click)="addPattern('8')">8</button>
                                        </div>
                                    </div>
                                </mk-box>
                            </div>

                        </div>
                    </mk-tab-content>
                </mk-tab>
            </mk-tabs>
        </div>




        <div class="col-md-12">
            <button type="submit" [disabled]="testForm.invalid" class="btn btn-primary">Create</button>
        </div>
    </mk-box>
</form>