<ng-container *ngIf="customLayout; else noCustomLayout">
    <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
    <mk-layout-wrapper>

        <mk-layout-header [isSidebarRightToggle]="false">
            <mk-layout-header-logo>Athlete Test</mk-layout-header-logo>
            <mk-layout-header-logo-mini>AT</mk-layout-header-logo-mini>
            <app-header-inner></app-header-inner>
        </mk-layout-header>
        <mk-layout-sidebar-left>
            <app-sidebar-left-inner></app-sidebar-left-inner>
        </mk-layout-sidebar-left>
        <mk-layout-content>
            <router-outlet></router-outlet>
        </mk-layout-content>
        <mk-layout-footer>
            <mk-layout-footer-left>
                Developed by <strong>Chanon Ungpansattawong</strong> 5810502270
            </mk-layout-footer-left>
            <mk-layout-footer-right>
                CPE KU Senior Project
            </mk-layout-footer-right>
        </mk-layout-footer>
    </mk-layout-wrapper>
</ng-template>